
@{
    ViewData["Title"] = "About";
}

<main>
    <!-- page title -->
    <section class="page-title-alt bg-prime position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-white font-tertiary">About Me</h1>
                </div>
            </div>
        </div>
        <!-- background shapes -->
        <img src="~/images/backgrounds/pexels-intricate-explorer-6451419.jpg" alt="illustrations" class="bg-shape-1 w-100">
         <!-- social icon -->
        <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
            <li class="mb-3"><a class="text-white" href="https://www.linkedin.com/in/joshua-christian-a260aaba/"><i class="ti-linkedin"></i></a></li>
            <li class="mb-3"><a class="text-white" href="https://github.com/joshdchristian1"><i class="ti-github"></i></a></li>
        </ul>
        <!-- /social icon -->
    </section>
    <!-- /page title -->
    <!-- about -->
    <section class="section pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>My name is Josh Christian. I am an Air Force veteran. I learned a lot during my time in the military. I learned discipline, respect, punctuality, teamwork, leadership and pride in my work. I worked in the communications squadron maintaining, installing and repairing communications equipment. Such as, ground radios, satellite communication equipment and base alert systems.</p>
                    <p>After my time in the military, I moved back to my home near St. Louis to be closer to my family. The job opportunities were a bit lacking, and I ended up working as a machinist for a manufacturing company. I was unfulfilled by this role and took another job working in sales for a different manufacturing company.</p>
                    <p>I worked at this company for about six years, but still felt as though I wasn’t doing something that I really enjoyed. I got a few opportunities to do some minor programming in SQL and fell in love with the work. That is when I decided to start looking for a career in programming.</p>
                    <p>I decided to take the leap and get into a program where I could learn the trade. That is how I ended up at Centriq Training. I have loved the program and learning all the new languages and concepts. I have always enjoyed learning new things and challenging myself. Several years ago, I decided I was going to learn a new language. I decided to learn German because I am from a town settled by German Immigrants. I also picked up playing ice hockey two years ago to stay in shape and challenge myself physically. My new career in coding is yet another way to challege myself and do something I am passionate about.</p>
                </div>
                <div class="col-md-4 text-center drag-lg-top">
                    <div class="shadow-down mb-4">
                        <img src="~/images/about/profilepic (4).jpg" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
                    </div>
                    <h4 class="name">Josh Christian</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- /about -->
</main>