
@{
    ViewData["Title"] = "Blog";
}

<main>
    <!-- page title -->
    <section class="page-title bg-prime position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white font-tertiary">Classmates</h1>
                </div>
            </div>
        </div>
        <!-- background shapes -->
        <img src="~/images/backgrounds/chalkboardedit.jpg" alt="illustrations" class="bg-shape-1 w-100">
         <!-- social icon -->
        <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
            <li class="mb-3"><a class="text-white" href="https://www.linkedin.com/in/joshua-christian-a260aaba/"><i class="ti-linkedin"></i></a></li>
            <li class="mb-3"><a class="text-white" href="https://github.com/joshdchristian1"><i class="ti-github"></i></a></li>
        </ul>
        <!-- /social icon -->
    </section>
    <!-- /page title -->
    <!-- blog -->
    <section class="section classmate class-name">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <article class="card shadow">
                        <a href="http://www.david-sleezer.com" target="_blank"> <img class="rounded card-img-top" src="~/images/classmates/DavidSleezerPhoto.jpg" alt="post-thumb"></a>
                        <div class="card-body">
                            <h4 class="card-title hover-visit">
                                <a href="http://www.david-sleezer.com" target="_blank">David Sleezer</a>
                            </h4>
                            <br>
                            <a href="http://www.david-sleezer.com" target="_blank" class="btn btn-xs btn-primary btn-block">Visit Page</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <article class="card shadow">
                        <a href="http://www.derek-holland.com" target="_blank"> <img class="rounded card-img-top" src="~/images/classmates/derek (2).jpg" alt="post-thumb"></a>
                        <div class="card-body">
                            <h4 class="card-title hover-visit">
                                <a href="http://www.derek-holland.com" target="_blank">Derek Holland</a>
                            </h4>
                            <br>
                            <a href="http://www.derek-holland.com" target="_blank" class="btn btn-xs btn-primary btn-block">Visit Page</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <article class="card shadow">
                        <a href="http://www.tannermillerdev.com" target="_blank"> <img class="rounded card-img-top" src="~/images/classmates/Image from iOS (1).jpg" alt="post-thumb"></a>
                        <div class="card-body">
                            <h4 class="card-title hover-visit">
                                <a href="http://www.tannermillerdev.com" target="_blank">Tanner Miller</a>
                            </h4>
                            <br>
                            <a href="http://www.tannermillerdev.com" target="_blank" class="btn btn-xs btn-primary btn-block">Visit Page</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <article class="card shadow">
                        <a href="http://www.lance-johnson.com" target="_blank">
                            <img class="rounded card-img-top" src="~/images/classmates/Image from iOS.jpg" alt="post-thumb">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title hover-visit">
                                <a href="http://www.lance-johnson.com" target="_blank">Lance Johnson</a>
                            </h4>
                            <br>
                            <a href="http://www.lance-johnson.com" target="_blank" class="btn btn-xs btn-primary btn-block">Visit Page</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <article class="card shadow">
                        <a href="http://www.stavakoli.net" target="_blank"> <img class="rounded card-img-top" src="~/images/classmates/MYXJ_20220420080407194_fast.jpg" alt="post-thumb"></a>
                        <div class="card-body">
                            <h4 class="card-title hover-visit">
                                <a href="http://www.stavakoli.net" target="_blank">Sarra Tavakoli</a>
                            </h4>
                            <br>
                            <a href="http://www.stavakoli.net" target="_blank" class="btn btn-xs btn-primary btn-block">Visit Page</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <article class="card shadow">
                        <a href="http://www.rolecoded.com" target="_blank">
                            <img class="rounded card-img-top" src="~/images/classmates/roan.jpg" alt="post-thumb">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title hover-visit">
                                <a href="http://www.rolecoded.com" target="_blank">Roan Leffew</a>
                            </h4>
                            <br>
                            <a href="http://www.rolecoded.com" target="_blank" class="btn btn-xs btn-primary btn-block">Visit Page</a>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- /blog -->
</main>
