@{
    ViewData["Title"] = "Home Page";
}

<main style="background-image: url(~/images/backgrounds/education-bg.png);">


    <section class="hero-area bg-prime" id="parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <h1 class="text-white font-tertiary">Josh Christian</h1>

                    <h1 class="text-white font-tertiary" id="typing"></h1>
                </div>
            </div>
        </div>
        <div class="layer-bg w-100">
            <img class="img-fluid w-100" src="~/images/backgrounds/pexels-veeterzy-303383.jpg" alt="bg-shape">
        </div>

        <!-- social icon -->
        <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
            <li class="mb-3"><a class="text-white" href="https://www.linkedin.com/in/joshua-christian-a260aaba/"><i class="ti-linkedin"></i></a></li>
            <li class="mb-3"><a class="text-white" href="https://github.com/joshdchristian1"><i class="ti-github"></i></a></li>
        </ul>
        <!-- /social icon -->
    </section>

    <!-- about -->

    <section class="section" style="background-image: url(~/images/backgrounds/education-bg.png);">

        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">

                    <p class="font-secondary paragraph-lg text-dark" data-aos="fade-in" data-aos-delay="100" data-aos-duration="500">“The day I stop giving is the day I stop receiving. The day I stop learning is the day I stop growing. You miss 100% of the shots you don’t take.” – Wayne Gretzky</p>

                </div>
            </div>
        </div>

    </section>

    <!-- /about -->
    <!-- skills -->
    <section class="section skills-icon skills-font">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-title" data-aos="fade-up" data-aos-delay="100" data-aos-duration="2000">Skills</h3>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                    <div class="card shadow text-center" data-aos="fade-right" data-aos-delay="100" data-aos-duration="500">
                        <img src="~/images/icons/front.png" alt="Computer Icon">
                        <div class="card-footer bg-white">
                            <h3 class="card-title pb-2">Front End:</h3>
                            <ul class="li-padding text-left" style="list-style-type: disc;">

                                <li>HTML5</li>
                                <li>JavaScript</li>
                                <li>jQuery</li>
                                <li>jQueryUI</li>
                                <li>CSS3</li>
                                <li>Responsive/Mobile Web Development</li>
                                <li>Bootstrap</li>
                                <li>ReactJS</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                    <div class="card shadow text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500">
                        <img src="~/images/icons/middle.png" alt="Computer Coding Icon">
                        <div class="card-footer bg-white">
                            <h3 class="card-title pb-2">Middle Tier:</h3>

                            <ul class="li-padding text-left" style="list-style-type: disc;">

                                <li>C#</li>
                                <li>.NET Core MVC</li>
                                <li>LINQ</li>
                                <li>EF</li>
                                <li>Razor Pages</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                    <div class="card shadow text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500">
                        <img src="~/images/icons/backend.png" alt="Binary code">
                        <div class="card-footer bg-white">
                            <h3 class="card-title pb-2">Back End:</h3>

                            <ul class="li-padding text-left" style="list-style-type: disc;">

                                <li>ADO.NET</li>
                                <li>SQL</li>
                                <li>SQL Server</li>

                            </ul>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                    <div class="card shadow text-center" data-aos="fade-left" data-aos-delay="100" data-aos-duration="500">
                        <img src="~/images/icons/tool-box.png" alt="Bag full of construction tools">
                        <div class="card-footer bg-white">
                            <h3 class="card-title pb-2">Tools:</h3>

                            <ul class="li-padding text-left" style="list-style-type: disc;">

                                <li>Azure Data Studio</li>
                                <li>Visual Studio</li>
                                <li>Visual Studio Code</li>
                                <li>SSMS</li>
                                <li>Git Bash</li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /skills -->
    <!-- experience -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-12 text-center" data-aos="fade-in" data-aos-delay="100" data-aos-duration="500">
                    <h3 class="section-title">Experience</h3>
                </div>
                <div class="col-lg-3 col-md-4 text-center xp" data-aos="fade-right" data-aos-delay="100" data-aos-duration="500">
                    <img src="~/images/icons/1024px-USAF_logo.png" alt="icon">
                    <p class="mb-0">Aug 2009 - Aug 2015</p>
                    <h4>Electronics Technician</h4>
                    <h6 class="text-light">US Air Force</h6>
                </div>
                <div class="col-lg-3 col-md-4 text-center xp" data-aos="fade-in" data-aos-delay="100" data-aos-duration="500">
                    <img src="~/images/icons/caliper.jpg" alt="icon">
                    <p class="mb-0">Aug 2015 - Feb 2016</p>
                    <h4>Machinist</h4>
                    <h6 class="text-light">Ace Manufacturing</h6>
                </div>
                <div class="col-lg-3 col-md-4 text-center xp" data-aos="fade-left" data-aos-delay="100" data-aos-duration="500">
                    <img src="~/images/icons/sales.jpg" alt="icon">
                    <p class="mb-0">Feb 2016 - Mar 2022</p>
                    <h4>Sales</h4>
                    <h6 class="text-light">Moore Gear & Mfg</h6>
                </div>
            </div>
        </div>

    </section>
    <!-- ./experience -->
    <!-- education -->
    <section class="section position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" data-aos="fade-in" data-aos-delay="100" data-aos-duration="500">
                    <h3 class="section-title">Education</h3>
                </div>
                <div class="col-lg-6 col-md-6 mb-80">
                    <div class="d-flex">
                        <div class="mr-lg-5 mr-3" data-aos="fade-right" data-aos-delay="100" data-aos-duration="500">
                            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                        </div>
                        <div>
                            <p class="text-dark mb-1">2015</p>
                            <h4>AAS Electronics Technology</h4>

                            <p class="mb-0 text-light">Community College of the Air Force</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-80">
                    <div class="d-flex">
                        <div class="mr-lg-5 mr-3" data-aos="fade-left" data-aos-delay="100" data-aos-duration="500">
                            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                        </div>
                        <div>
                            <p class="text-dark mb-1">2022</p>
                            <h4>Full Stack Developers Course</h4>
                            <p class="mb-0 text-light">Centriq Training</p>
                        </div>
                    </div>
                </div>
                <img class="img-fluid edu-bg-image w-100" src="~/images/backgrounds/education-bg.png" alt="bg-image">
            </div>
        </div>
    </section>

    <!-- awards -->
    <section class="section position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-title" data-aos="fade-up" data-aos-delay="200" data-aos-duration="2000">Awards</h3>
                </div>
                <div class="col-lg-6 col-md-6 mb-80" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
                    <div class="d-flex">
                        <div class="mr-lg-5 mr-3">
                            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                        </div>
                        <div>
                            <p class="text-dark mb-1">2011</p>
                            <h4>Senior Airman below the zone</h4>

                            <p class="mb-0 text-light">promoted six months early</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-80" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
                    <div class="d-flex">
                        <div class="mr-lg-5 mr-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
                            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                        </div>
                        <div>
                            <p class="text-dark mb-1">2012</p>
                            <h4>Information Dominance award</h4>
                            <p class="mb-0 text-light">Outstanding Electronics Technician</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-80" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
                    <div class="d-flex">
                        <div class="mr-lg-5 mr-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
                            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                        </div>
                        <div>
                            <p class="text-dark mb-1">2014</p>
                            <h4>Distinguished Graduate Airman Leadership School</h4>
                            <p class="mb-0 text-light">Highest overall grade</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <!-- bg image -->
        @*<img class="img-fluid edu-bg-image w-100" src="~/images/backgrounds/education-bg.png" alt="bg-image">*@
    </section>
</main>