
@{
    ViewData["Title"] = "Contact Me";
}

@model PersonalSite.Models.ContactViewModel



<main>
<!-- hero area -->
<section class="hero-area bg-prime" id="parallax"> 
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="~/images/backgrounds/ForHireedit.jpg" alt="bg-shape">
  </div>  
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    <li class="mb-3"><a class="text-white" href="https://www.linkedin.com/in/joshua-christian-a260aaba/"><i class="ti-linkedin"></i></a></li>
    <li class="mb-3"><a class="text-white" href="https://github.com/joshdchristian1"><i class="ti-github"></i></a></li>   
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>Josh Christian</h2>
        <br>
        <h4>FULL STACK DEVELOPER</h4>
        <br>
        <p class="font-secondary paragraph-lg text-dark">Joshdchristian1@outlook.com · 314-555-3015 · joshdchristian13.com
          www.linkedin.com/in/joshua-christian-a260aaba/
          </p>
        <a href="~/images/JoshChristianResume.pdf" class="btn btn-dark text-size text-white">Download My Resume</a>
        <br>
        <br>
        <br>
        <hr>
        <ul class="column-left text-left text-size-xlarge">
          <li>.NET Core MVC Framework</li>
          <li>Full Stack Web Application Design</li>
          <li>C# Fundamentals</li>
          <li>JavaScript</li>
          </ul>
          <ul class="column-right text-right text-size-xlarge">
          <li>Database Management</li>
          <li>Unit Testing</li>
          <li>Software Development Lifecycle</li>
          <li>Agile Scrum Methodology</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<hr>
<!-- /about -->

<!-- skills -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-title">Technical & Professional Skills</h3>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157">
            <div class="wave" data-progress="50%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Front End:</h4>
            <br>  
            <ul class="ul-padding"style="text-align: left; list-style-type: disc;">
              <li>HTML5</li>
              <li>JavaScript</li>
              <li>jQuery</li>
              <li>LINQ</li>
              <li>jQueryUI</li>
              <li>CSS3</li>
              <li>Responsive/Mobile Web Development</li>
              <li>Bootstrap</li>
              <li>ReactJS</li>            
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#9473e6">
            <div class="wave" data-progress="50%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Middle Tier:</h4>
            <br>  
            <ul class="ul-padding" style= "text-align: left; list-style-type: disc;">
              <li>C#</li>
              <li>.NET</li>
              <li>Core MVC</li>
              <li>LINQ</li>
              <li>EF</li>
              <li>Razor Pages</li>            
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#bdecf6">
            <div class="wave" data-progress="50%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Back End: </h4>
            <br>  
            <ul class="ul-padding" style="text-align: left; list-style-type: disc;">
              <li>ADO.NET</li>
              <li>SQL</li>
              <li>SQL Server</li>
            </ul>
           
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#ffbcaa">
            <div class="wave" data-progress="50%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Tools:</h4>
            <br>  
            <ul class="ul-padding" style="text-align: left; list-style-type: disc;">
              <li>Azure Data Studio</li>
              <li>Visual Studio</li>
              <li>Visual Studio Code</li>
              <li>SSMS</li>
              <li>EF</li>
              <li>Git Bash</li>
            
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#ffbcaa">
            <div class="wave" data-progress="50%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Professional Skills:</h4>
            <br>  
            <ul class="ul-padding" style="text-align: left; list-style-type: disc;">
              <li>Troubleshooting</li>
              <li>Critical Thinking</li>
              <li>Communication</li>
              <li>Project Management Fundamentals</li>
              <li>Teamwork</li>
              <li>Pair Programming</li>
              <li>Leadership</li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /skills -->

<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h3 class="section-title">Experience</h3>
      </div>
      <div class="col-lg-12 col-md-12 text-left xp">       
        <p class="mb-0">Aug 2009 - Aug 2015</p>
        <h4>Electronics Technician</h4>
        <h6 class="text-light">US Air Force</h6>
        <br>
        <ul style="text-align: left; list-style-type: disc;">
          <li>Managed base land mobile radio program, assets totaling $3.8 million</li>
          <li>Completed 150 plus maintenance inspections on base communications equipment</li>
          <li>Maintained mass notification system consisting of 18 towers with 75 speakers and amplifiers</li>
          <li>Forward deployed in support of the global war on terrorism, maintained satellite communication and ground radio systems & installed camp 12 CCTV cameras</li>
          </ul>
               </div>
               <div class="col-lg-12 col-md-12 text-left xp">       
        <p class="mb-0">Aug 2015 - Feb 2016</p>
        <h4>Machinist</h4>
        <h6 class="text-light">Ace Manufacturing</h6>
        <ul style="text-align: left; list-style-type: disc;">
          <li>Interpreted schematics and drawings to manufacture functional parts</li>
          <li>Measured parts within 1/10,000 of an inch averaging 40 measurements per day</li>
          <li>Programed, setup and ran Computer Numeric Controlled (CNC) lathes and mills</li>
          <li>Moved thousands of pounds of materials with forklift and overhead crane</li>
          </ul><br><br>
      </div>
      <div class="col-lg-12 col-md-12 text-left xp">       
        <p class="mb-0">Feb 2016 - Mar 2022</p>
        <h4>Sales</h4>
        <h6 class="text-light">Moore Gear & Mfg</h6>

        <ul style="text-align: left; list-style-type: disc;">
          <li>Managed 50+ customer accounts</li>
          <li>Assisted customers with orders, prototypes, blueprints & custom parts</li>
          <li>Cold-called & prospected for protentional new customers</li>
          <li>Quoted new parts based on customer provided specs or blueprints</li>
          <li>Created blueprints using Mastercam software</li>
          </ul>
      </div>
    </div>
  </div>
</section>
<!-- ./experience -->
<hr>
<!-- Technical Training -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h3 class="section-title">Technical Training</h3>
      </div>
      <div class="col-lg-12 col-md-12 text-left xp">       
        <p class="mb-0">July 2022</p>
        <h4>Full Stack Coding Program</h4>
        <h6 class="text-light">Centriq Training</h6>
        <br>
        <ul class="col-lg-6 float-left" style="text-align: left; list-style-type: disc;">
          <li>.NET Core MVC Framework	</li>
          <li>Troubleshooting & Debugging	</li>
          <li>Source Control</li>
          <li>Agile/Scrum(Created Team Project)</li>
         </ul>
         <ul class="col-lg-6  float-right" style="text-align: left; list-style-type: disc;">
          <li>Website Deployment</li>
          <li>Pair Programming</li>
          <li>Code Review</li>
          </ul>
    </div>  
  </div>  
<br>
<br>
    <hr> 
   
    <div class="container">
          <h3 class="section-title clear-float">Independent Development Projects</h3>
        
        <div class="col-lg-12 col-md-12 text-left xp">         
                            
          <ul class="col-lg-12" style="text-align: left; list-style-type: disc;">
            <li>Personal Website	</li>
            <li>Store Front	</li>
            <li>React ToDo Application</li>
            <li>ToDo API</li>
           
           </ul>
          
          
      </div>
    </div>
  </div>
</section>


<!-- contact -->
 <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="section-title">
                <h3>Contact Form</h3>
               @* <p>This application features a fully-functional contact form. To create this form, we built controller actions (one using HttpGet to load the form, and another using HttpPost to collect &amp; process the user's information), a ContactViewModel (to assist with data processing), and a confirmation View (where we send the user upon successful form submission). You will also need to enable email on your hosting provider (SmarterASP) and store the email login credentials in an external file (appsettings.json).</p>*@
            </div>
            @*
                If something went wrong when sending the email, display the ErrorMessage to the user.
            *@

            @if(ViewBag.ErrorMessage != null)
            {
                <div class="row">
                    <p style="color: red; font-style: italic;">
                        @Html.Raw(ViewBag.ErrorMesage)

                    </p>
                    </div>
            }

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h4>Address</h4>
                                <p>1740 W 92nd St, Kansas City, MO 64114</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h4>Email</h4>
                                <p>contact@centriq.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-phone-call"></i>
                                <h4>Phone</h4>
                                <p>(913) 322-7000</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <form asp-action="Contact" class="php-email-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                           
                            <input asp-for="Name" class="form-control" placeholder="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                           
                            <input asp-for="Subject" class="form-control" placeholder="Subject" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                           
                            <textarea asp-for="Message" class="form-control" placeholder="Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4 text-center">
                            <input type="submit" value="Send Message" class="btn btn-primary" />
                        </div>
                    </form>
                 
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
<!-- /contact -->
</main>